<mat-drawer-container class="example-container" autosize hasBackdrop>
  
  <div class = "header">
  <button mat-icon-button class="botonMenu" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon class="iconoMenu">menu</mat-icon>
  </button>

  <h1>La Orlabeda</h1>
</div>

  <mat-drawer #drawer mode="over">

    <button class = "botonSidenav" mat-button routerLink="/" routerLinkActive="active">
      <mat-icon>tag</mat-icon>Productos</button>
    
    <button class = "botonSidenav" mat-button routerLink="/" routerLinkActive="active">
      <mat-icon>money-bill</mat-icon>Facturas</button>
    
    
    <button class = "botonSidenav" mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>person</mat-icon>Iniciar Sesión</button>
     
    <button class = "botonSidenav" mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>person</mat-icon>Iniciar Sesión</button>
    

  </mat-drawer>

  <div class = "contenido">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>