.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 30px;
  }

  .contenedor {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap:50px;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 30px;

}
  
  .botonAddOrla {
      background-color: white;
      color: #00ff00;
      height: 35px;
      width: 35px;
      margin-top: 30px;
    }