.contenedorRegistro {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    width: 300px; /* Cambia 300px por el ancho que desees */
    height: auto; /* Cambia 400px por la altura que desees */
    padding: 10px;
    box-sizing: border-box;
}

mat-form-field {
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;

   
}

span {
    font-size: 33px;
    margin-bottom: 10px;
    font-family: 'Cascadia';
}

.divRegistro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloRegistro {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}