/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #392e0e;
 }

 ::-webkit-scrollbar {
   width: 7px; /* Ancho de la scrollbar */
}

::-webkit-scrollbar-track {
   border-radius: 10px; /* Esquinas redondeadas de la pista */
}

::-webkit-scrollbar-thumb {
   background: #bdbcbc; /* Color de fondo del thumb (la barra que se desplaza) */
   border-radius: 10px; /* Esquinas redondeadas del thumb */
   border: 1px solid rgb(1, 1, 1);
}

::-webkit-scrollbar-thumb:hover {
   background: #555; /* Color de fondo del thumb al pasar el ratón por encima */
}


 body {
    margin: 0;
    font-family: 'Cascadia';
 }

 .active {
    transform: scale(1.2);
    font-weight: bold;
}

@font-face {
   font-family: 'Birdgo';
   src: url('assets/Birdgo.ttf');
}

@font-face {
   font-family: 'Cascadia';
   src: url('assets/Cascadia.ttf');
}